<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-3">
      <img class="img-responsive" src="http://www.placekitten.com/125/125" />
    </div>
    <div class="col-xs-7">
      <h4>{{user}}</h4>
      <p>Going climbing at {{climb-gym}} for about {{climb-duration}} minutes</p>
      {{#if climb-details}}
        <em>{{climb-details}}</em><br/>
      {{/if}}
      <small>posted {{climb-eta}} minutes ago</small>
      {{#if replies}}
        {{#each replies}}
          <h4>{{this.user}}</h4>
          <p>{{this.message}}</p>
          <small>{{this.time}}</small>
        {{/each}}
      {{/if}}

    </div>
    <div class="col-xs-2">
      <button class="btn btn-default">Reply!</button>
    </div>
  </div>
</div>