<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-2">
        <img src="http://www.placekitten.com/75/75" />
      </div>
      <div class="col-xs-10 panel-emphasis">
        <strong>{{user}}</strong>
        <em>@ {{climbGym}} in {{climbEta}} for {{climbDuration}} minutes</em>
        {{#if climbDetails}}
        <br/>
        <p>{{climbDetails}}</p>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if replies}}
  <div class="panel-body">
    {{#each replies}}
    <div class="list-group">
      <div href="#" class="list-group-item">
        <!--            <div class="col-xs-2"><img class="img-responsive"  src="http://www.placekitten.com/40/40" /></div>-->
        <p class="list-group-item-text">
          <strong>{{this.user}}</strong> - {{this.message}}
          <br>
          <small>{{this.time}}</small>
        </p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="panel-footer">
    <textarea class="form-control" rows="1" type="text" name="posting-reply" id="posting-reply" placeholder="Maybe we should meet up..."></textarea>
    <button class="btn btn-default" id="posting-reply-button" type="submit">Reply</button>
  </div>

</div>
