{{view collection}}
<div class="panel panel-default panel-posting">
  
  <div class="panel-heading">                  
    <div class="row panel-small-text">
      <a href="#" id="test"><img src="{{userImg}}" /></a>
      <p>
        <a href="#"><strong>{{userName}}</strong></a>
        <em><br>@ {{climbGym}}<br>in {{climbEta}} minutes for a {{climbDuration}} minute session.</em> 
      </p>
    </div>
    <div class="row panel-message">
      <p>{{climbDetails}}</p>
    </div>
  </div>

  {{#if replies}}
  <div class="panel-body">
    {{#each replies}}
    <div class="media panel-reply">
      <a class="pull-left" href="#">
        <img class="media-object" src="{{userImg}}">
      </a>
      <div class="media-body panel-small-text">
        <p><a href="#"><strong class="media-heading">{{userName}}</strong></a> {{message}}</p>
        <em><p>{{time}}</p></em>
      </div>                    
    </div>
    {{/each}}
  </div>
  {{/if}}
  
  <div class="panel-footer">
    <textarea class="form-control posting-reply" rows="1" type="text" name="posting-reply" placeholder="Maybe we should meet up..."></textarea>
    <button class="btn btn-default posting-reply-button" type="submit">Reply</button>
  </div>

</div>