{{view collection}}
<div class="panel panel-default panel-posting fade-in">
  
  <div class="panel-heading">                  
    <div class="row panel-small-text dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{userImg}}" />      
        <strong>{{userName}}</strong>
      </a>
        <p>
          <em>@ {{climbGym}}<br>in {{climbEta}} minutes for a {{climbDuration}} minute session.</em> 
        </p>
      
      <div class="dropdown-menu">
        <div class="dropdown-inner">
          <strong>{{userName}}</strong>
          <p>More info eventually!</p>          
        </div>        
      </div>
    </div>
    <div class="row panel-message">
      <p>{{climbDetails}}</p>
    </div>
  </div>

  {{#if replies}}
  <div class="panel-body">
    {{#each replies}}
    <div class="media panel-reply">
      <div class="pull-left">
        <img class="media-object" src="{{userImg}}">
      </div>
      <div class="media-body panel-small-text">
        <div><a><strong class="media-heading">{{userName}}</strong></a> {{message}}</div>
        <em><p>{{time}}</p></em>
      </div>                    
    </div>
    {{/each}}
  </div>
  {{/if}}
  
  <div class="panel-footer">
    <textarea class="form-control posting-reply" rows="1" type="text" name="posting-reply" placeholder="Maybe we should meet up..."></textarea>
    <div class="submit-line"><button class="btn btn-default posting-reply-button" type="submit">Reply</button><button class="btn btn-link text-danger"></p></div>
  </div>

</div>

<!--
<div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Tester <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-menu">
        <div class="dropdown-inner">
          <strong>{{displayName}}</strong>
          <p>{{githubData.login}}</p>
          <a href="/logout">Logout</a>
        </div>        
      </div>-->
