<div class="sidebar-intro dropdown">
  <div class="panel-small-text">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img src="{{avatar}}">
      {{displayName}}      
    </a>
    <div class="dropdown-menu">
      <div class="dropdown-inner">
        <strong>{{displayName}}</strong>
        <p>{{githubData.login}}</p>
        <a href="/logout">Logout</a>
      </div>        
    </div>
  </div>
</div>

<!--
<div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Tester <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-menu">
        <div class="dropdown-inner">
          <strong>{{displayName}}</strong>
          <p>{{githubData.login}}</p>
          <a href="/logout">Logout</a>
        </div>        
      </div>
    </div>-->
